*~
## Vim...
.*.swp
##python
*.pyc
*.py
##Xcode related file
*.pbxproj
##build stuff
*.o
*.dep
##Mac OS X stuff
.DS_Store
##LaTeX stuff
*.aux
*.log
*.idx
*.bbl
*.blg
*.synctex.gz
*.toc
*.out
*.fdb_latexmk
*.fls
*.ilg
*.ind

arduinoUno/podracer/podracer/stm_structure.c
arduinoUno/podracer/podracer/tpl_app_config.c
arduinoUno/podracer/podracer/tpl_app_config.h
arduinoUno/podracer/podracer/tpl_app_custom_types.h
arduinoUno/podracer/podracer/tpl_app_define.h
arduinoUno/podracer/podracer/tpl_dispatch_table.c
arduinoUno/podracer/podracer/tpl_interrupts.c
arduinoUno/podracer/podracer/tpl_invoque.S
arduinoUno/podracer/podracer/tpl_invoque_isr.S
arduinoUno/podracer/podracer/tpl_os.h
arduinoUno/podracer/podracer/tpl_service_ids.h
arduinoUno/podracer/podracer/tpl_static_info.json
arduinoUno/podracer/podracer_exe
arduinoUno/podracer/podracer_exe.hex
arduinoUno/tp1/tp1avr/stm_structure.c
arduinoUno/tp1/tp1avr/tpl_app_config.c
arduinoUno/tp1/tp1avr/tpl_app_config.h
arduinoUno/tp1/tp1avr/tpl_app_custom_types.h
arduinoUno/tp1/tp1avr/tpl_app_define.h
arduinoUno/tp1/tp1avr/tpl_dispatch_table.c
arduinoUno/tp1/tp1avr/tpl_interrupts.c
arduinoUno/tp1/tp1avr/tpl_invoque.S
arduinoUno/tp1/tp1avr/tpl_invoque_isr.S
arduinoUno/tp1/tp1avr/tpl_os.h
arduinoUno/tp1/tp1avr/tpl_service_ids.h
arduinoUno/tp1/tp1avr/tpl_static_info.json
arduinoUno/tp1/tp1test
arduinoUno/tp1/tp1test.hex
